/* Общие стили для страницы */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

@media (max-width: 767px) {

    /* Adjustments for smaller screens */
    .main-container {
        margin-top: 20px;
    }

    /* Adjust the font size for smaller screens */
    .code-container pre {
        font-size: 14px;
    }

    /* Other responsive adjustments as needed */
}

/* Responsive styles for larger screens (desktop) */
@media (min-width: 768px) {

    /* Adjustments for larger screens */
    .main-container {
        margin-top: 0;
    }

    /* Other responsive adjustments as needed */
}

.birthday-background {
    background-image: url('back.webp');
    background-size: cover;
    background-position: center;
}
/* Стили для текста в блоке <code> */
.code {
    font-size: 16px;
    /* Настройте размер шрифта по вашему желанию */
    color: red;
    /* Используйте любой желаемый цвет */
    font-weight: bold;
    /* Добавьте жирное начертание */
}

.birthday-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Centering the code container */
.code-container {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 80%;
    /* Center the container horizontally */
    margin: 0 auto;
}

/* Styling for the code block */
.code-container pre {
    font-size: 20px;
    font-family: 'Pixel', Arial,sans-serif;
    padding: 20px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    white-space: pre-wrap;
}

.code-container pre code {
    font-family: 'Pixel', Arial, sans-serif;
    font-size: 20px;
    /* Adjust the font size as needed */
    line-height: 1;
    letter-spacing: 0;
    /* Adjust as needed for pixelated effect */
    font-weight: normal;
    color: #f4f8f8;
    /* Green color for CRT effect */
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 0;
    /* Remove margin-top to center the container properly */
}

/* Стили для контейнера формы */
.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

/* Стили для заголовка */
h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #333;
}

/* Стили для полей ввода */
.input-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-field:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Стили для кнопки */
.submit-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}
.dark-theme {
    background-color: #222;
    color: white;
}

/* Стили для футера */
.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: auto;
    background-color: #f0f0f0; /* Добавьте этот стиль */
}

.dark-theme .footer {
    background-color: #222; /* Добавьте этот стиль для темной темы */
}

.dark-theme .birthday-background {
    background-color: #111;
    /* Dark background color */
    color: white;
    /* Light text color for better contrast */
}

.dark-theme .birthday-container {
    background-color: rgba(0, 0, 0, 0.747);
    /* Darker background for the container */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    /* Adjust the shadow color */
}

.dark-theme .code-container {
    background-color: rgba(255, 255, 255, 0.1);
    /* Darker background for the code container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Adjust the shadow color */
}

.dark-theme .code-container pre {
    color: #b3b3b3;
    /* Lighter code text color */
}

/* Стили для контейнера Земли */
.earth-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Занимает место от левого края до середины страницы */
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

/* Стили для Земли */
.earth {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('earth.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    animation: rotateEarth 10s linear infinite; /* Анимация вращения */
    z-index: -1;
}

/* Анимация вращения Земли */
@keyframes rotateEarth {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Анимация вращения Земли в темной теме */
@keyframes rotateEarthDark {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg); /* Вращение в обратную сторону */
    }
}

.fireworks-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    /* Place the fireworks above other elements */
}

