<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme-switcher.css') }}">
    <title>Вход</title>
</head>
<body>
    
    <div class="main-container">
        <div class="earth-container">
            <div class="earth"></div>
        </div>

        <div class="login-container">
            <h1>A single platform for managing all your work</h1>
            <form method="POST">
                <input class="input-field" type="text" name="username" placeholder="Имя пользователя" required><br><br>
                <input class="input-field" type="password" name="password" placeholder="Пароль" required><br><br>
                <button class="submit-button" type="submit">Войти</button>
            </form>
        </div>
    </div>
    
    <div class="theme-switch-container">
        <label class="theme-switch">
            <input type="checkbox" id="theme-toggle">
            <div class="slider round"></div>
        </label>
    </div>

    <footer class="footer">
        <p>Свяжитесь с нами:</p>
        <ul>
            <li>Github: https://github.com/smokiei</li>
        </ul>
    </footer>

    <script src="{{ url_for('static', filename='js/theme-switcher.js') }}"></script>
</body>
</html>
